* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf2ff;
  font-family: "Hanken Grotesk", serif;
}

p {
  font-weight: 500;
  font-size: 18px;
}

.full-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  position: relative;
  width: 736px;
  height: 512px;
  background-color: white;
  border-radius: 32px;
}

/* blue border and circle */

.border-container {
  display: flex;
  margin-top: 100px;
  margin-left: 352px;
  position: relative;
}

.score-card {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background: linear-gradient(
    180deg,
    rgba(105, 67, 255, 1) 0%,
    rgba(47, 44, 233, 1) 100%
  );
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.result {
  font-weight: 700;
  font-size: 24px;
  color: #cac9ff;
  margin-bottom: 30px;
}
.border-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    to top,
    rgba(77, 33, 201, 0) 0%,
    rgba(37, 33, 201, 1) 100%
  );
}

.border-circle h2 {
  color: white;
  font-weight: 800;
  font-size: 72px;
}

.border-circle span {
  color: #cac9ff;
  font-weight: 700;
  font-size: 18px;
  opacity: 51.68%;
}

.great {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin-top: 5px;
}

.desc {
  text-align: center;
  color: #cac9ff;
  font-weight: 500;
  font-size: 18px;
  width: 260px;
}

/* white border */

.score-division {
  width: 100%;
  height: 100%;
}

.score-division h2 {
  font-weight: 700;
  font-size: 24px;
  color: #303b59;
}
.score-division .space {
  margin: 40px;
}

.border {
  margin-top: 20px;
  width: 288px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.border p {
  font-weight: 500;
  font-size: 18px;
}

.border .point {
  color: #303b59;
  font-weight: 700;
  font-size: 18px;
  margin-left: 81px;
}
.border .points {
  color: #303b5950;
  font-weight: 700;
  font-size: 18px;
  gap: 81px;
}

.border-red {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.06);
  padding: 16px;
  border-radius: 12px;
}

.border-red .border-red-text {
  display: flex;
  gap: 10px;
  color: red;
}

.border-yellow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 178, 30, 0.06);
  padding: 16px;
  border-radius: 12px;
}

.border-yellow .border-yellow-text {
  display: flex;
  gap: 10px;
  color: #ffb21e;
}

.border-green {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.06);
  padding: 16px;
  border-radius: 12px;
}

.border-green .border-green-text {
  display: flex;
  gap: 10px;
  color: #00bb8f;
}

.border-blue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.06);
  padding: 16px;
  border-radius: 12px;
}

.border-blue .border-text-blue {
  display: flex;
  gap: 10px;
  color: blue;
}
/* button */

.test {
  margin-top: 41px;
}
button {
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  width: 288px;
  height: 56px;
  background: linear-gradient(
    180deg,
    rgba(119, 85, 255, 1) 0%,
    rgba(105, 67, 255, 1) 0%,
    rgba(47, 44, 233, 1) 100%
  );
  border-radius: 128px;
  color: white;
}
